body {
    background-color: #464010;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: brown;
    
}

button {
    margin: 5px;
}